table {
    width: 50%;
    border: none;
}
.viewtatable, tr, td {
    border: none;
    text-align: left;
  }


.jata {
    width: 8%;
    height: 7%;
}


.red-asterisk {
    color: red;
}

.bg-staff{
    background-color: #198754; 
}
