#searchcoursetable{
    text-align: center;
    border: 2px solid black;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

#vcdlabeldiv {
    padding-top: 30px;
    padding-left: 80px;
}

#vcdlabeldiv1 {
    width: 500px;
    padding-top: 30px;
    padding-left: 80px;
}

.vcdlabel {
    display: inline-block;
    width: 150px;
    margin-bottom: 15px;
}

.imgflaticon {
    width: 40px;
    height: auto;
}

#custalign {
    padding: 10px 10px 10px 10px;
}

.custcolor {
    color: rgb(8, 8, 172);
}

#inputformpadding {
    margin-top: 10px;
}

#alamatstyle {
    width: 600px;
}

#inputboxstyle {
    width: 250px;
    display: inline;
}

#inputboxstyle2 {
    display: inline-block;
    width: 250px;
}